.add_task_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  display: flex;
  flex-direction: column;
}

.add_task_input {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.add_task_btn {
  align-self: end;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid rgb(154, 153, 153);
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #728f6d75;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #fff;
    background-color: #728f6da4;
  }
}
