@import "assets/reset.scss"; /* Import reset.css */

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(167, 164, 164);
}

body {
  background-color: rgb(24, 23, 23);
  padding: 50px;
}